<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul style="list-style: none;">
      <h3>List of existing urls:</h3>
      <% for (var i in urls) { %>
        <form method="POST" action="/urls/<%= i %>/delete">
          <li><a href="/urls/<%= i %>"><%= i %></a> - <a href="<%= urls[i] %>"><%= urls[i] %></a>
          <input type="button" onclick="location.href='/urls/<%= i %>';"value="Edit">
          <input type="submit" value="Delete">
          </li>
        </form>
      <% }; %>
  </ul>
  <a href="/urls/new">Create new short URL</a>
</body>
</html>